:root{
  --primary-black: #1A1D24;
}

*::after, *::before, *{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
  margin: 200px 20px 0 20px;
}

.App>*{
  margin-bottom: 20px;
}

.input{
  max-width: 622px;
}

.container{
  display: flex;
  justify-content: center;
  gap: 20px;
}

.panel{
  text-align: left;
  max-width: 706px;
  min-width: 706px;
}

.panel *{
  display: block;
}

small{
  margin-bottom: 20px;
}

.center{
  display: flex;
  justify-content: center;
}

.footer{
  color: #b7b7b7;
}

@media only screen and (max-width: 750px) {
  .panel{
    /* max-width: none; */
    min-width: 100%;
  }
}

@media only screen and (max-width: 430px) {
  h2{
    font-size: 28px !important;
    line-height: 30px !important;
  }
}